@use "variables" as *;

body {
  font-family: $font-primary;
  background-color: white;
  padding: 2rem;
}

.card {
  background-color: $color-base;
  color: white;
  border-radius: $border-radius;
  box-shadow: $box-shadow;
  padding: 1rem;
  margin-bottom: 1rem;
}

.base {
  font-family: $font-primary;
  font-weight: bold;
  width: 70px;
  height: 70px;
  background-color: $color-base;
  padding: 1rem;
  border-radius: $border-radius;
  margin-bottom: 2px;
}

.important {
  font-family: $font-primary;
  font-weight: bold;
  width: 70px;
  height: 70px;
  background-color: $color-important;
  padding: 1rem;
  border-radius: $border-radius;
  margin-bottom: 2px;
}
.warning {
  font-family: $font-primary;
  font-weight: bold;
  width: 70px;
  height: 70px;
  background-color: $color-warning;
  padding: 1rem;
  border-radius: $border-radius;
}

.box-shadow {
  background-color: white;
  padding: 1rem;
  border-radius: $border-radius;
  box-shadow: $box-shadow;
  height: 80px;
  width: 80px;
}

p:first-of-type {
  font-family: $font-primary;
}

p:last-of-type {
  font-family: $font-secondary;
}
