@use "variables" as *;

$color-base: rgb(0, 0, 181);
$color-important: #000567;
$color-warning: #11f9ce;

$font-primary: "Courier New", monospace;
$font-secondary: "Georgia", serif;

$border-radius: 8px;
$box-shadow: 10px 8px 15px rgb(0, 0, 0);
