// Colores
$color-base: null;
$color-warning: null;
$color-important: null;

// Tipografías
$font-primary: null;
$font-secondary: null;

// Border radius y sombras
$border-radius: null;
$box-shadow: null;
